In [216]:
#tryout
"""
Asian Football Confederation (AFC): 47 members
Confederation of African Football (CAF): 54 members
Confederation of North, Central American and Caribbean Association Football (CONCACAF): 41 members
Confederación Sudamericana de Fútbol (CONMEBOL): 10 members
Oceania Football Confederation (OFC): 13 members
Union of European Football Associations (UEFA): 55 members
"""

'\nAsian Football Confederation (AFC): 47 members\nConfederation of African Football (CAF): 54 members\nConfederation of North, Central American and Caribbean Association Football (CONCACAF): 41 members\nConfederación Sudamericana de Fútbol (CONMEBOL): 10 members\nOceania Football Confederation (OFC): 13 members\nUnion of European Football Associations (UEFA): 55 members\n'

In [217]:
afc_countries = [
    "Afghanistan", "Australia", "Bahrain", "Bangladesh", "Bhutan", "Brunei Darussalam",
    "Cambodia", "China", "Chinese Taipei", "Guam", "Hong Kong", "India",
    "Indonesia", "Iran", "Iraq", "Japan", "Jordan", "North Korea", "South Korea",
    "Kuwait", "Kyrgyzstan", "Laos", "Lebanon", "Macau", "Malaysia", "Maldives",
    "Mongolia", "Myanmar", "Nepal", "Oman", "Pakistan", "Palestine", "Philippines",
    "Qatar", "Saudi Arabia", "Singapore", "Sri Lanka", "Syria", "Tajikistan",
    "Thailand", "Timor-Leste", "Turkmenistan", "United Arab Emirates", "Uzbekistan", "Vietnam", "Yemen"
]

In [218]:
caf_countries = [
    "Algeria", "Angola", "Benin", "Botswana", "Burkina Faso", "Burundi", "Cameroon", "Cape Verde",
    "Central African Republic", "Chad", "Comoros", "Republic of the Congo", "Democratic Republic of the Congo", "Djibouti", "Egypt",
    "Equatorial Guinea", "Eswatini", "Ethiopia", "Gabon", "The Gambia", "Ghana", "Guinea",
    "Guinea-Bissau", "Ivory Coast", "Kenya", "Lesotho", "Liberia", "Libya", "Madagascar", "Malawi",
    "Mali", "Mauritania", "Mauritius", "Morocco", "Mozambique", "Namibia", "Niger", "Nigeria",
    "Rwanda", "São Tomé and Príncipe", "Senegal", "Seychelles", "Sierra Leone", "South Africa",
    "South Sudan", "Sudan", "Tanzania", "Togo", "Tunisia", "Uganda", "Zambia", "Zimbabwe", "Somalia"
]

In [219]:
concacaf_countries = [
    "Antigua and Barbuda", "Bahamas", "Barbados", "Belize", "Canada", "Costa Rica", "Cuba",
    "Dominican Republic", "El Salvador", "Grenada", "Guatemala", "Guyana", "Haiti", "Honduras", "Jamaica", "Mexico", "Montserrat", "Nicaragua", "Panama", "Saint Kitts and Nevis",
    "Saint Lucia", "Saint Vincent and the Grenadines", "Trinidad and Tobago", "United States",
    "Anguilla", "Aruba", "Bermuda", "British Virgin Islands", "Cayman Islands",
    "Curaçao", "Suriname", "Turks and Caicos Islands", "United States Virgin Islands", "Puerto Rico"
]

In [220]:
conmebol_countries = [
    "Argentina", "Bolivia", "Brazil", "Chile", "Colombia", "Ecuador", "Paraguay", "Peru",
    "Suriname", "Uruguay", "Venezuela"
]

In [221]:
ofc_countries = [
    "American Samoa", "Cook Islands", "Fiji", "New Caledonia", "New Zealand", "Papua New Guinea",
    "Samoa", "Solomon Islands", "Tahiti", "Tonga", "Vanuatu"
]

In [222]:
uefa_countries = [
    "Albania", "Andorra", "Armenia", "Austria", "Azerbaijan", "Belarus", "Belgium", "Bosnia-Herzegovina",
    "Bulgaria", "Croatia", "Cyprus", "Czech Republic", "Denmark", "England", "Estonia", "Faroe Islands",
    "Finland", "France", "Georgia", "Germany", "Gibraltar", "Greece", "Hungary", "Iceland",
    "Israel", "Italy", "Kazakhstan", "Kosovo", "Latvia", "Liechtenstein", "Lithuania", "Luxembourg",
    "Malta", "Moldova", "Montenegro", "Netherlands", "North Macedonia", "Northern Ireland", "Norway",
    "Poland", "Portugal", "Republic of Ireland", "Romania", "Russia", "San Marino", "Scotland", "Serbia",
    "Slovakia", "Slovenia", "Spain", "Sweden", "Switzerland", "Turkiye", "Ukraine", "Wales"
]

In [223]:
import pandas as pd

# Combine all country lists
all_countries_MO = afc_countries + caf_countries + concacaf_countries + conmebol_countries + ofc_countries + uefa_countries

# Sort the countries alphabetically
all_countries_sorted = sorted(all_countries_MO)

# Create a DataFrame
FIFA = pd.DataFrame({
    'Nr.': range(1, len(all_countries_sorted) + 1),
    'Country': all_countries_sorted
})

print(FIFA)

     Nr.         Country
0      1     Afghanistan
1      2         Albania
2      3         Algeria
3      4  American Samoa
4      5         Andorra
..   ...             ...
205  206         Vietnam
206  207           Wales
207  208           Yemen
208  209          Zambia
209  210        Zimbabwe

[210 rows x 2 columns]

In [224]:
#importing our second dataset from Transfermarekt website through webscrappein
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

# Base URL of the Transfermarkt rankings page
url_base = "https://www.transfermarkt.com/statistik/weltrangliste?page="

# Set up headers to mimic a real browser request
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'
}

# List to hold data from all pages
all_data = []

# Loop through pages 1 to 9 (since there are 9 pages in total)
for page in range(1, 10):  # Scraping 9 pages
    print(f"Scraping page {page}...")
    
    # Send a request to the webpage with the custom header
    response = requests.get(url_base + str(page), headers=headers)
    
    # Check if the request was successful
    if response.status_code == 200:
        print(f"Page {page} loaded successfully!")
        
        # Parse the HTML content of the page
        soup = BeautifulSoup(response.content, 'html.parser')
        
        # Find the table containing the rankings (this can be adjusted if the page structure changes)
        table = soup.find('table', {'class': 'items'})  # Look for the table with class "items"
        
        # Extract the rows (data) of the table
        rows = table.find_all('tr')[1:]  # Skip the header row
        
        # Loop through each row and extract the columns
        for row in rows:
            columns = row.find_all('td')
            
            # Extract the relevant data from each column and clean it
            rank = columns[0].text.strip()
            nation = columns[1].find('img')['alt'] if columns[1].find('img') else columns[1].text.strip()
            squad_size = columns[2].text.strip()
            avg_age = columns[3].text.strip()
            total_value = columns[4].text.strip()
            confederation = columns[5].text.strip()
            points = columns[6].text.strip()
            
            # Add the data to the list
            all_data.append([rank, nation, squad_size, avg_age, total_value, confederation, points])
    else:
        print(f"Failed to retrieve page {page}. Status code: {response.status_code}")

# Create a pandas DataFrame from the extracted data with the correct headers
headers = ['Rank', 'Nation', 'Squad Size', 'Avg Age', 'Total Value', 'Confederation', 'Points']
df = pd.DataFrame(all_data, columns=headers)

# Clean the "Rank" column: remove non-numeric characters (if any)
df['Rank'] = df['Rank'].str.extract('(\d+)').astype(int)

# Convert "Points" to numeric (integer)
df['Points'] = pd.to_numeric(df['Points'], errors='coerce', downcast='integer')

# Convert "Avg Age" to float
df['Avg Age'] = pd.to_numeric(df['Avg Age'], errors='coerce')

# Clean "Total Value" column by removing non-numeric characters (€, commas, 'm', 'k', and 'b')
def clean_total_value(value):
    # If the value is '-', replace with NaN
    if value == '-':
        return np.nan
    
    # Remove commas, '€', and strip leading/trailing spaces
    value = value.replace('€', '').replace(',', '').strip()
    
    # Handle 'm' for millions
    if 'm' in value.lower():
        value = value.replace('m', '').strip()
        return float(value) * 1e6  # Convert to millions (multiply by 1,000,000)
    
    # Handle 'b' for billions
    elif 'b' in value.lower():
        value = value.replace('b', '').strip()
        return float(value) * 1e9  # Convert to billions (multiply by 1,000,000,000)
    
    # Handle 'k' for thousands
    elif 'k' in value.lower():
        value = value.replace('k', '').strip()
        return float(value) * 1e3  # Convert to thousands (multiply by 1,000)
    
    # Otherwise, return the value as is (if it's just a plain number)
    return float(value)

# Apply the function to clean the "Total Value" column
df['Total Value'] = df['Total Value'].apply(clean_total_value)

# Convert "Squad Size" to numeric (integer)
df['Squad Size'] = pd.to_numeric(df['Squad Size'], errors='coerce', downcast='integer')

# Convert "Confederation" to object (string), ensuring no unexpected values
df['Confederation'] = df['Confederation'].astype(str)

# Ensure that the correct data types are set
print(f"Data types:\n{df.dtypes}")

# Display the cleaned DataFrame
print("Cleaned DataFrame:")
print(df.head())

# Save the cleaned DataFrame to a CSV file
#df.to_csv('transfermarkt_rankings.csv', index=False)

Scraping page 1...

<>:61: SyntaxWarning: invalid escape sequence '\d'
<>:61: SyntaxWarning: invalid escape sequence '\d'
C:\Users\modri\AppData\Local\Temp\ipykernel_17084\29973502.py:61: SyntaxWarning: invalid escape sequence '\d'
  df['Rank'] = df['Rank'].str.extract('(\d+)').astype(int)

Page 1 loaded successfully!
Scraping page 2...
Page 2 loaded successfully!
Scraping page 3...
Page 3 loaded successfully!
Scraping page 4...
Page 4 loaded successfully!
Scraping page 5...
Page 5 loaded successfully!
Scraping page 6...
Page 6 loaded successfully!
Scraping page 7...
Page 7 loaded successfully!
Scraping page 8...
Page 8 loaded successfully!
Scraping page 9...
Page 9 loaded successfully!
Data types:
Rank               int64
Nation            object
Squad Size          int8
Avg Age          float64
Total Value      float64
Confederation     object
Points             int16
dtype: object
Cleaned DataFrame:
   Rank     Nation  Squad Size  Avg Age  Total Value Confederation  Points
0     1  Argentina          25     27.5  716500000.0      CONMEBOL    1867
1     2     France          23     26.8  978000000.0          UEFA    1860
2     3      Spain          24     25.9  890000000.0          UEFA    1853
3     4    England          23     25.3  995000000.0          UEFA    1814
4     5     Brazil          23     27.0  921800000.0      CONMEBOL    1776

In [225]:
df.head()

   Rank     Nation  Squad Size  Avg Age  Total Value Confederation  Points
0     1  Argentina          25     27.5  716500000.0      CONMEBOL    1867
1     2     France          23     26.8  978000000.0          UEFA    1860
2     3      Spain          24     25.9  890000000.0          UEFA    1853
3     4    England          23     25.3  995000000.0          UEFA    1814
4     5     Brazil          23     27.0  921800000.0      CONMEBOL    1776

In [226]:
#remoing the columns that we dont need!
transfer_market_25 = df.drop(columns=['Squad Size', 'Avg Age','Total Value'])

In [227]:
transfer_market_25

     Rank                        Nation Confederation  Points
0       1                     Argentina      CONMEBOL    1867
1       2                        France          UEFA    1860
2       3                         Spain          UEFA    1853
3       4                       England          UEFA    1814
4       5                        Brazil      CONMEBOL    1776
..    ...                           ...           ...     ...
205   206      Turks and Caicos Islands      CONCACAF     804
206   207        British Virgin Islands      CONCACAF     780
207   208  United States Virgin Islands      CONCACAF     780
208   209                      Anguilla      CONCACAF     769
209   210                    San Marino          UEFA     747

[210 rows x 4 columns]

In [228]:
transfer_market_25.nunique()

Rank             210
Nation           210
Confederation      6
Points           193
dtype: int64

In [229]:
import pandas as pd


# Read the FIFA.csv file into a DataFrame
fifa_TP = pd.read_excel('FIFA.xlsx')

# Display the first few rows of the DataFrame
print(fifa_TP.head())

           Nation  Pro Players  All Players
0     Afghanistan          NaN          NaN
1         Albania          NaN      17500.0
2         Algeria          NaN          NaN
3  American Samoa          NaN          NaN
4         Andorra          NaN          NaN

In [230]:
# Combine the two data frames next to each other
combined_df = pd.concat([transfer_market_25, fifa_TP], axis=1)

# Display the combined data frame
print(combined_df)

     Rank                        Nation Confederation  Points          Nation  \
0       1                     Argentina      CONMEBOL    1867     Afghanistan
1       2                        France          UEFA    1860         Albania
2       3                         Spain          UEFA    1853         Algeria
3       4                       England          UEFA    1814  American Samoa
4       5                        Brazil      CONMEBOL    1776         Andorra
..    ...                           ...           ...     ...             ...
205   206      Turks and Caicos Islands      CONCACAF     804        Tanzania
206   207        British Virgin Islands      CONCACAF     780    Turkmenistan
207   208  United States Virgin Islands      CONCACAF     780       Venezuela
208   209                      Anguilla      CONCACAF     769         Lebanon
209   210                    San Marino          UEFA     747        Dominica

     Pro Players  All Players
0            NaN          NaN
1            NaN      17500.0
2            NaN          NaN
3            NaN          NaN
4            NaN          NaN
..           ...          ...
205          NaN          NaN
206          NaN          NaN
207          NaN          NaN
208        200.0       5000.0
209          NaN          NaN

[210 rows x 7 columns]

In [231]:
# Combine the two data frames on the 'Nation' column
combined_df = pd.merge(fifa_TP, transfer_market_25, on='Nation', how='inner')

# Display the combined data frame
print(combined_df)

             Nation  Pro Players  All Players  Rank Confederation  Points
0       Afghanistan          NaN          NaN   156           AFC    1025
1           Albania          NaN      17500.0    65          UEFA    1376
2           Algeria          NaN          NaN    37           CAF    1496
3    American Samoa          NaN          NaN   187           OFC     883
4           Andorra          NaN          NaN   171          UEFA     972
..              ...          ...          ...   ...           ...     ...
205        Tanzania          NaN          NaN   106           CAF    1199
206    Turkmenistan          NaN          NaN   143           AFC    1065
207       Venezuela          NaN          NaN    47      CONMEBOL    1476
208         Lebanon        200.0       5000.0   112           AFC    1171
209        Dominica          NaN          NaN   183      CONCACAF     900

[210 rows x 6 columns]

In [232]:
combined_df_sorted = combined_df.sort_values(by='Rank')
print(combined_df_sorted)

                           Nation  Pro Players  All Players  Rank  \
8                       Argentina          NaN    4928574.0     1
68                         France       4000.0    2200000.0     2
172                         Spain       8560.0    4107300.0     3
60                        England       5582.0   11800000.0     4
27                         Brazil          NaN   12000000.0     5
..                            ...          ...          ...   ...
189      Turks and Caicos Islands          NaN          NaN   206
28         British Virgin Islands          NaN          NaN   207
194  United States Virgin Islands          NaN          NaN   208
6                        Anguilla          NaN          NaN   209
159                    San Marino          NaN          NaN   210

    Confederation  Points
8        CONMEBOL    1867
68           UEFA    1860
172          UEFA    1853
60           UEFA    1814
27       CONMEBOL    1776
..            ...     ...
189      CONCACAF     804
28       CONCACAF     780
194      CONCACAF     780
6        CONCACAF     769
159          UEFA     747

[210 rows x 6 columns]

In [233]:
import requests
import pandas as pd
# List of countries you’re interested in
countries = ["Afghanistan", "Albania", "Algeria", "American Samoa", "Andorra", "Angola",
 "Anguilla", "Antigua and Barbuda", "Argentina", "Armenia", "Aruba", "Australia",
 "Austria", "Azerbaijan", "Bahamas", "Bahrain", "Bangladesh", "Barbados",
 "Belarus", "Belgium", "Belize", "Benin", "Bermuda", "Bhutan", "Bolivia",
 "Bosnia-Herzegovina", "Botswana", "Brazil", "British Virgin Islands",
 "Brunei Darussalam", "Bulgaria", "Burkina Faso", "Burundi", "Cambodia",
 "Cameroon", "Canada", "Cape Verde", "Cayman Islands", "Central African Republic",
 "Chad", "Chile", "China", "Chinese Taipei", "Colombia", "Comoros",
 "Republic of the Congo", "Democratic Republic of the Congo", "Cook Islands",
 "Costa Rica", "Croatia", "Cuba", "Curaçao", "Cyprus", "Czech Republic",
 "Denmark", "Djibouti", "Dominican Republic", "Ecuador", "Egypt", "El Salvador",
 "England", "Equatorial Guinea", "Estonia", "Eswatini", "Ethiopia", "Faroe Islands",
 "Fiji", "Finland", "France", "Gabon", "The Gambia", "Georgia", "Germany",
 "Ghana", "Gibraltar", "Greece", "Grenada", "Guam", "Guatemala", "Guinea",
 "Guinea-Bissau", "Guyana", "Haiti", "Honduras", "Hong Kong", "Hungary", "Iran",
 "Iceland", "India", "Indonesia", "Iraq", "Republic of Ireland", "Israel", "Italy",
 "Ivory Coast", "Jamaica", "Japan", "Jordan", "Kazakhstan", "Kenya", "North Korea",
 "South Korea", "Kosovo", "Kuwait", "Kyrgyzstan", "Laos", "Latvia", "Lebanon",
 "Lesotho", "Liberia", "Libya", "Liechtenstein", "Lithuania", "Luxembourg", "Macau",
 "Madagascar", "Malawi", "Malaysia", "Maldives", "Mali", "Malta", "Mauritania",
 "Mauritius", "Mexico", "Moldova", "Mongolia", "Montenegro", "Montserrat",
 "Morocco", "Mozambique", "Myanmar", "Namibia", "Nepal", "Netherlands",
 "New Caledonia", "New Zealand", "Nicaragua", "Niger", "Nigeria", "North Macedonia",
 "Northern Ireland", "Norway", "Oman", "Pakistan", "Palestine", "Panama",
 "Papua New Guinea", "Paraguay", "Peru", "Philippines", "Poland", "Portugal",
 "Qatar", "Romania", "Russia", "Rwanda", "Saint Kitts and Nevis", "Saint Lucia",
 "Saint Vincent and the Grenadines", "Samoa", "San Marino", "Saudi Arabia",
 "Scotland", "Senegal", "Serbia", "Seychelles", "Sierra Leone", "Singapore",
 "Slovakia", "Slovenia", "Solomon Islands", "South Africa", "South Sudan", "Spain",
 "Sri Lanka", "Sudan", "Suriname", "Sweden", "Switzerland", "Syria",
 "São Tomé and Príncipe", "Tahiti", "Tajikistan", "Thailand", "Timor-Leste", "Togo",
 "Tonga", "Trinidad and Tobago", "Tunisia", "Turkiye", "Turks and Caicos Islands",
 "Uganda", "Ukraine", "United Arab Emirates", "United States", "United States Virgin Islands",
 "Uruguay", "Uzbekistan", "Vanuatu", "Vietnam", "Wales", "Yemen", "Zambia", "Zimbabwe",
 "Puerto Rico", "Somalia", "Tanzania", "Turkmenistan", "Venezuela"]

# Base URL for World Population Review
base_url = "https://worldpopulationreview.com/"
# Fetch the population data
response = requests.get(base_url)
if response.status_code == 200:
    # Parse the data into a DataFrame
    tables = pd.read_html(response.text)
    # The first table contains the population data
    population_df = tables[0]
    # Filter the DataFrame for the countries of interest
    filtered_df = population_df[population_df['Country'].isin(countries)]
    # Display only the 'Country' and '2024 Population' columns
    result_df = filtered_df[['Country', '2024 Population']]
    # result_df = result_df.sort_values(by="Country", ascending=True)
    # Display the result
    print(result_df)
else:
    print("Failed to retrieve data.")

           Country  2024 Population
0            India       1450940000
1            China       1419320000
2    United States        345427000
3        Indonesia        283488000
4         Pakistan        251269000
..             ...              ...
216      Gibraltar            39329
219     San Marino            33581
222       Anguilla            14598
223   Cook Islands            13729
229     Montserrat             4389

[192 rows x 2 columns]

C:\Users\modri\AppData\Local\Temp\ipykernel_17084\3115633898.py:46: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(response.text)

In [234]:
missing_countries = ['Bosnia-Herzegovina', 'Brunei Darussalam', 'Chinese Taipei', 'Democratic Republic of the Congo', 'Curaçao', 'England', 'The Gambia', 'Guinea-Bissau', 'Republic of Ireland', 'Kosovo', 'Northern Ireland', 'Scotland', 'São Tomé and Príncipe', 'Timor-Leste', 'Turkiye', 'Tahiti', 'Wales', 'Dominica']
populations_MO = {
    'Bosnia-Herzegovina': 3280819,
    'Brunei Darussalam': 441500,
    'Chinese Taipei': 23000000,
    'Democratic Republic of the Congo': 108113150,
    'Curaçao': 123132,
    'England': 56000000,
    'The Gambia': 2416668,
    'Guinea-Bissau': 1726170,
    'Republic of Ireland': 5176569,
    'Kosovo': 1935259,
    'Northern Ireland': 1900000,
    'Scotland': 5500000,
    'São Tomé and Príncipe': 175808,
    'Timor-Leste': 1154625,
    'Turkey': 85028800,
    'Tahiti': 291000,
    'Wales': 3100000,
    'Dominica': 74243
}

In [235]:
# Create a DataFrame from the populations_MO dictionary
populations_df = pd.DataFrame(list(populations_MO.items()), columns=['Nation', '2024 Population'])

# Display the DataFrame
print(populations_df)

                              Nation  2024 Population
0                 Bosnia-Herzegovina          3280819
1                  Brunei Darussalam           441500
2                     Chinese Taipei         23000000
3   Democratic Republic of the Congo        108113150
4                            Curaçao           123132
5                            England         56000000
6                         The Gambia          2416668
7                      Guinea-Bissau          1726170
8                Republic of Ireland          5176569
9                             Kosovo          1935259
10                  Northern Ireland          1900000
11                          Scotland          5500000
12             São Tomé and Príncipe           175808
13                       Timor-Leste          1154625
14                            Turkey         85028800
15                            Tahiti           291000
16                             Wales          3100000
17                          Dominica            74243

In [236]:
result_df = result_df.sort_values(by="Country", ascending=True)
result_df.rename(columns={"Country": "Nation"}, inplace=True)

In [237]:
# Concatenate populations_df and result_df
combined_populations_df = pd.concat([populations_df, result_df], ignore_index=True)
result_df = combined_populations_df

In [238]:
# Combine the two data frames on the 'Nation' column
final_combined_df = pd.merge(combined_df_sorted, result_df, on='Nation', how='inner')
FIFA_main = final_combined_df

In [239]:
FIFA_main['Player to Population Ratio (%)'] = (FIFA_main['All Players'] / FIFA_main['2024 Population']) * 100
FIFA_main['Player to Population Ratio (%)'] = FIFA_main['Player to Population Ratio (%)'].round(1)
mean_ratio_all = FIFA_main['Player to Population Ratio (%)'].mean()
FIFA_main['All Players'].fillna(mean_ratio_all * FIFA_main['2024 Population'] / 100, inplace=True)
FIFA_main['All Players'] = FIFA_main['All Players'].astype(int)

C:\Users\modri\AppData\Local\Temp\ipykernel_17084\3002081339.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  FIFA_main['All Players'].fillna(mean_ratio_all * FIFA_main['2024 Population'] / 100, inplace=True)

In [240]:
FIFA_main['Pro to All ratio (%)'] = (FIFA_main['Pro Players'] / FIFA_main['All Players']) * 100
FIFA_main['Pro to All ratio (%)'] = FIFA_main['Pro to All ratio (%)'].round(1)
mean_ratio_PRO = FIFA_main['Pro to All ratio (%)'].mean()
FIFA_main['Pro Players'].fillna(mean_ratio_PRO * FIFA_main['All Players'] / 100, inplace=True)
FIFA_main['Pro Players'] = FIFA_main['Pro Players'].astype(int)

FIFA_main['Player to Population Ratio (%)'] = FIFA_main['Player to Population Ratio (%)'].fillna(FIFA_main['Player to Population Ratio (%)'].mean()).round(1)
FIFA_main['Pro to All ratio (%)'] = FIFA_main['Pro to All ratio (%)'].fillna(FIFA_main['Pro to All ratio (%)'].mean()).round(1)

C:\Users\modri\AppData\Local\Temp\ipykernel_17084\606280988.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  FIFA_main['Pro Players'].fillna(mean_ratio_PRO * FIFA_main['All Players'] / 100, inplace=True)

In [241]:
# Create separate dataframes for each confederation
FIFA_CONMEBOL = FIFA_main[FIFA_main['Confederation'] == 'CONMEBOL']
FIFA_UEFA = FIFA_main[FIFA_main['Confederation'] == 'UEFA']
FIFA_AFC = FIFA_main[FIFA_main['Confederation'] == 'AFC']
FIFA_CAF = FIFA_main[FIFA_main['Confederation'] == 'CAF']
FIFA_CONCACAF = FIFA_main[FIFA_main['Confederation'] == 'CONCACAF']
FIFA_OFC = FIFA_main[FIFA_main['Confederation'] == 'OFC']

In [ ]:
FIFA_OFC['Player to Population Ratio (%)'] = (FIFA_OFC['All Players'] / FIFA_OFC['2024 Population']) * 100
FIFA_OFC['Player to Population Ratio (%)'] = FIFA_OFC['Player to Population Ratio (%)'].round(1)
mean_ratio_all_OFC = FIFA_OFC['Player to Population Ratio (%)'].mean()
FIFA_OFC['All Players'].fillna(mean_ratio_all_OFC * FIFA_OFC['2024 Population'] / 100, inplace=True)
FIFA_OFC['All Players'] = FIFA_OFC['All Players'].astype(int)

FIFA_OFC['Pro to All ratio (%)'] = (FIFA_OFC['Pro Players'] / FIFA_OFC['All Players']) * 100
FIFA_OFC['Pro to All ratio (%)'] = FIFA_OFC['Pro to All ratio (%)'].round(1)
mean_ratio_PRO_OFC = FIFA_OFC['Pro to All ratio (%)'].mean()
FIFA_OFC['Pro Players'].fillna(mean_ratio_PRO_OFC * FIFA_OFC['All Players'] / 100, inplace=True)
FIFA_OFC['Pro Players'] = FIFA_OFC['Pro Players'].astype(int)

FIFA_OFC['Player to Population Ratio (%)'] = FIFA_OFC['Player to Population Ratio (%)'].fillna(FIFA_OFC['Player to Population Ratio (%)'].mean()).round(1)
FIFA_OFC['Pro to All ratio (%)'] = FIFA_OFC['Pro to All ratio (%)'].fillna(FIFA_OFC['Pro to All ratio (%)'].mean()).round(1)

In [ ]:
FIFA_CONCACAF['Player to Population Ratio (%)'] = (FIFA_CONCACAF['All Players'] / FIFA_CONCACAF['2024 Population']) * 100
FIFA_CONCACAF['Player to Population Ratio (%)'] = FIFA_CONCACAF['Player to Population Ratio (%)'].round(1)
mean_ratio_all_CONCACAF = FIFA_CONCACAF['Player to Population Ratio (%)'].mean()
FIFA_CONCACAF['All Players'].fillna(mean_ratio_all_CONCACAF * FIFA_CONCACAF['2024 Population'] / 100, inplace=True)
FIFA_CONCACAF['All Players'] = FIFA_CONCACAF['All Players'].astype(int)

FIFA_CONCACAF['Pro to All ratio (%)'] = (FIFA_CONCACAF['Pro Players'] / FIFA_CONCACAF['All Players']) * 100
FIFA_CONCACAF['Pro to All ratio (%)'] = FIFA_CONCACAF['Pro to All ratio (%)'].round(1)
mean_ratio_PRO_CONCACAF = FIFA_CONCACAF['Pro to All ratio (%)'].mean()
FIFA_CONCACAF['Pro Players'].fillna(mean_ratio_PRO_CONCACAF * FIFA_CONCACAF['All Players'] / 100, inplace=True)
FIFA_CONCACAF['Pro Players'] = FIFA_CONCACAF['Pro Players'].astype(int)

FIFA_CONCACAF['Player to Population Ratio (%)'] = FIFA_CONCACAF['Player to Population Ratio (%)'].fillna(FIFA_CONCACAF['Player to Population Ratio (%)'].mean()).round(1)
FIFA_CONCACAF['Pro to All ratio (%)'] = FIFA_CONCACAF['Pro to All ratio (%)'].fillna(FIFA_CONCACAF['Pro to All ratio (%)'].mean()).round(1)

In [ ]:
FIFA_CAF['Player to Population Ratio (%)'] = (FIFA_CAF['All Players'] / FIFA_CAF['2024 Population']) * 100
FIFA_CAF['Player to Population Ratio (%)'] = FIFA_CAF['Player to Population Ratio (%)'].round(1)
mean_ratio_all_CAF = FIFA_CAF['Player to Population Ratio (%)'].mean()
FIFA_CAF['All Players'].fillna(mean_ratio_all_CAF * FIFA_CAF['2024 Population'] / 100, inplace=True)
FIFA_CAF['All Players'] = FIFA_CAF['All Players'].astype(int)

FIFA_CAF['Pro to All ratio (%)'] = (FIFA_CAF['Pro Players'] / FIFA_CAF['All Players']) * 100
FIFA_CAF['Pro to All ratio (%)'] = FIFA_CAF['Pro to All ratio (%)'].round(1)
mean_ratio_PRO_CAF = FIFA_CAF['Pro to All ratio (%)'].mean()
FIFA_CAF['Pro Players'].fillna(mean_ratio_PRO_CAF * FIFA_CAF['All Players'] / 100, inplace=True)
FIFA_CAF['Pro Players'] = FIFA_CAF['Pro Players'].astype(int)

FIFA_CAF['Player to Population Ratio (%)'] = FIFA_CAF['Player to Population Ratio (%)'].fillna(FIFA_CAF['Player to Population Ratio (%)'].mean()).round(1)
FIFA_CAF['Pro to All ratio (%)'] = FIFA_CAF['Pro to All ratio (%)'].fillna(FIFA_CAF['Pro to All ratio (%)'].mean()).round(1)

In [ ]:
FIFA_UEFA['Player to Population Ratio (%)'] = (FIFA_UEFA['All Players'] / FIFA_UEFA['2024 Population']) * 100
FIFA_UEFA['Player to Population Ratio (%)'] = FIFA_UEFA['Player to Population Ratio (%)'].round(1)
mean_ratio_all_UEFA = FIFA_UEFA['Player to Population Ratio (%)'].mean()
FIFA_UEFA['All Players'].fillna(mean_ratio_all_UEFA * FIFA_UEFA['2024 Population'] / 100, inplace=True)
FIFA_UEFA['All Players'] = FIFA_UEFA['All Players'].astype(int)

FIFA_UEFA['Pro to All ratio (%)'] = (FIFA_UEFA['Pro Players'] / FIFA_UEFA['All Players']) * 100
FIFA_UEFA['Pro to All ratio (%)'] = FIFA_UEFA['Pro to All ratio (%)'].round(1)
mean_ratio_PRO_UEFA = FIFA_UEFA['Pro to All ratio (%)'].mean()
FIFA_UEFA['Pro Players'].fillna(mean_ratio_PRO_UEFA * FIFA_UEFA['All Players'] / 100, inplace=True)
FIFA_UEFA['Pro Players'] = FIFA_UEFA['Pro Players'].astype(int)

FIFA_UEFA['Player to Population Ratio (%)'] = FIFA_UEFA['Player to Population Ratio (%)'].fillna(FIFA_UEFA['Player to Population Ratio (%)'].mean()).round(1)
FIFA_UEFA['Pro to All ratio (%)'] = FIFA_UEFA['Pro to All ratio (%)'].fillna(FIFA_UEFA['Pro to All ratio (%)'].mean()).round(1)

In [ ]:
FIFA_AFC['Player to Population Ratio (%)'] = (FIFA_AFC['All Players'] / FIFA_AFC['2024 Population']) * 100
FIFA_AFC['Player to Population Ratio (%)'] = FIFA_AFC['Player to Population Ratio (%)'].round(1)
mean_ratio_all_AFC = FIFA_AFC['Player to Population Ratio (%)'].mean()
FIFA_AFC['All Players'].fillna(mean_ratio_all_AFC * FIFA_AFC['2024 Population'] / 100, inplace=True)
FIFA_AFC['All Players'] = FIFA_AFC['All Players'].astype(int)

FIFA_AFC['Pro to All ratio (%)'] = (FIFA_AFC['Pro Players'] / FIFA_AFC['All Players']) * 100
FIFA_AFC['Pro to All ratio (%)'] = FIFA_AFC['Pro to All ratio (%)'].round(1)
mean_ratio_PRO_AFC = FIFA_AFC['Pro to All ratio (%)'].mean()
FIFA_AFC['Pro Players'].fillna(mean_ratio_PRO_AFC * FIFA_AFC['All Players'] / 100, inplace=True)
FIFA_AFC['Pro Players'] = FIFA_AFC['Pro Players'].astype(int)

FIFA_AFC['Player to Population Ratio (%)'] = FIFA_AFC['Player to Population Ratio (%)'].fillna(FIFA_AFC['Player to Population Ratio (%)'].mean()).round(1)
FIFA_AFC['Pro to All ratio (%)'] = FIFA_AFC['Pro to All ratio (%)'].fillna(FIFA_AFC['Pro to All ratio (%)'].mean()).round(1)

In [ ]:
FIFA_CONMEBOL['Player to Population Ratio (%)'] = (FIFA_CONMEBOL['All Players'] / FIFA_CONMEBOL['2024 Population']) * 100
FIFA_CONMEBOL['Player to Population Ratio (%)'] = FIFA_CONMEBOL['Player to Population Ratio (%)'].round(1)
mean_ratio_all_CONMEBOL = FIFA_CONMEBOL['Player to Population Ratio (%)'].mean()
FIFA_CONMEBOL['All Players'].fillna(mean_ratio_all_CONMEBOL * FIFA_CONMEBOL['2024 Population'] / 100, inplace=True)
FIFA_CONMEBOL['All Players'] = FIFA_CONMEBOL['All Players'].astype(int)

FIFA_CONMEBOL['Pro to All ratio (%)'] = (FIFA_CONMEBOL['Pro Players'] / FIFA_CONMEBOL['All Players']) * 100
FIFA_CONMEBOL['Pro to All ratio (%)'] = FIFA_CONMEBOL['Pro to All ratio (%)'].round(1)
mean_ratio_PRO_CONMEBOL = FIFA_CONMEBOL['Pro to All ratio (%)'].mean()
FIFA_CONMEBOL['Pro Players'].fillna(mean_ratio_PRO_CONMEBOL * FIFA_CONMEBOL['All Players'] / 100, inplace=True)
FIFA_CONMEBOL['Pro Players'] = FIFA_CONMEBOL['Pro Players'].astype(int)

FIFA_CONMEBOL['Player to Population Ratio (%)'] = FIFA_CONMEBOL['Player to Population Ratio (%)'].fillna(FIFA_CONMEBOL['Player to Population Ratio (%)'].mean()).round(1)
FIFA_CONMEBOL['Pro to All ratio (%)'] = FIFA_CONMEBOL['Pro to All ratio (%)'].fillna(FIFA_CONMEBOL['Pro to All ratio (%)'].mean()).round(1)

In [ ]:
FIFA_UEFA