In [2]:
#tryout
"""
Asian Football Confederation (AFC): 47 members
Confederation of African Football (CAF): 54 members
Confederation of North, Central American and Caribbean Association Football (CONCACAF): 41 members
Confederación Sudamericana de Fútbol (CONMEBOL): 10 members
Oceania Football Confederation (OFC): 13 members
Union of European Football Associations (UEFA): 55 members
"""

'\nAsian Football Confederation (AFC): 47 members\nConfederation of African Football (CAF): 54 members\nConfederation of North, Central American and Caribbean Association Football (CONCACAF): 41 members\nConfederación Sudamericana de Fútbol (CONMEBOL): 10 members\nOceania Football Confederation (OFC): 13 members\nUnion of European Football Associations (UEFA): 55 members\n'

In [3]:
afc_countries = [
    "Afghanistan", "Australia", "Bahrain", "Bangladesh", "Bhutan", "Brunei Darussalam",
    "Cambodia", "China PR", "Chinese Taipei", "Guam", "Hong Kong, China", "India",
    "Indonesia", "IR Iran", "Iraq", "Japan", "Jordan", "Korea DPR", "Korea Republic",
    "Kuwait", "Kyrgyz Republic", "Laos", "Lebanon", "Macau", "Malaysia", "Maldives",
    "Mongolia", "Myanmar", "Nepal", "Oman", "Pakistan", "Palestine", "Philippines",
    "Qatar", "Saudi Arabia", "Singapore", "Sri Lanka", "Syrian Arab Republic", "Tajikistan",
    "Thailand", "Timor-Leste", "United Arab Emirates", "Uzbekistan", "Vietnam", "Yemen"
]

In [4]:
caf_countries = [
    "Algeria", "Angola", "Benin", "Botswana", "Burkina Faso", "Burundi", "Cameroon", "Cape Verde",
    "Central African Republic", "Chad", "Comoros", "Congo", "Congo DR", "Djibouti", "Egypt",
    "Equatorial Guinea", "Eritrea", "Eswatini", "Ethiopia", "Gabon", "Gambia", "Ghana", "Guinea",
    "Guinea-Bissau", "Ivory Coast", "Kenya", "Lesotho", "Liberia", "Libya", "Madagascar", "Malawi",
    "Mali", "Mauritania", "Mauritius", "Morocco", "Mozambique", "Namibia", "Niger", "Nigeria",
    "Rwanda", "São Tomé and Príncipe", "Senegal", "Seychelles", "Sierra Leone", "South Africa",
    "South Sudan", "Sudan", "Togo", "Tunisia", "Uganda", "Zambia", "Zimbabwe"
]

In [5]:
concacaf_countries = [
    "Antigua and Barbuda", "Bahamas", "Barbados", "Belize", "Canada", "Costa Rica", "Cuba",
    "Dominica", "El Salvador", "Grenada", "Guatemala", "Guyana", "Haiti", "Honduras", "Jamaica",
    "Martinique", "Mexico", "Montserrat", "Nicaragua", "Panama", "Saint Kitts and Nevis",
    "Saint Lucia", "Saint Vincent and the Grenadines", "Trinidad and Tobago", "United States",
    "Anguilla", "Aruba", "Bermuda", "Bonaire", "British Virgin Islands", "Cayman Islands",
    "Curacao", "French Guiana", "Guadeloupe", "Martinique", "Saint Martin", "Saint Pierre and Miquelon",
    "Sint Maarten", "Suriname", "Turks and Caicos Islands", "United States Virgin Islands"
]

In [6]:
conmebol_countries = [
    "Argentina", "Bolivia", "Brazil", "Chile", "Colombia", "Ecuador", "Paraguay", "Peru",
    "Suriname", "Uruguay"
]

In [7]:
ofc_countries = [
    "American Samoa", "Cook Islands", "Fiji", "New Caledonia", "New Zealand", "Papua New Guinea",
    "Samoa", "Solomon Islands", "Tahiti", "Tonga", "Vanuatu"
]

In [8]:
uefa_countries = [
    "Albania", "Andorra", "Armenia", "Austria", "Azerbaijan", "Belarus", "Belgium", "Bosnia and Herzegovina",
    "Bulgaria", "Croatia", "Cyprus", "Czech Republic", "Denmark", "England", "Estonia", "Faroe Islands",
    "Finland", "France", "Georgia", "Germany", "Gibraltar", "Greece", "Hungary", "Iceland", "Ireland",
    "Israel", "Italy", "Kazakhstan", "Kosovo", "Latvia", "Liechtenstein", "Lithuania", "Luxembourg",
    "Malta", "Moldova", "Montenegro", "Netherlands", "North Macedonia", "Northern Ireland", "Norway",
    "Poland", "Portugal", "Republic of Ireland", "Romania", "Russia", "San Marino", "Scotland", "Serbia",
    "Slovakia", "Slovenia", "Spain", "Sweden", "Switzerland", "Turkey", "Ukraine", "Wales"
]

In [10]:
import pandas as pd

# Combine all country lists
all_countries_MO = afc_countries + caf_countries + concacaf_countries + conmebol_countries + ofc_countries + uefa_countries

# Sort the countries alphabetically
all_countries_sorted = sorted(all_countries_MO)

# Create a DataFrame
FIFA = pd.DataFrame({
    'Nr.': range(1, len(all_countries_sorted) + 1),
    'Country': all_countries_sorted
})

print(FIFA)

     Nr.         Country
0      1     Afghanistan
1      2         Albania
2      3         Algeria
3      4  American Samoa
4      5         Andorra
..   ...             ...
210  211         Vietnam
211  212           Wales
212  213           Yemen
213  214          Zambia
214  215        Zimbabwe

[215 rows x 2 columns]

In [13]:
import  pandas as pd

In [15]:
import csv as pd

In [53]:
#importing fifa dataset from 1992 till 2024 using Kaggle webseite.
import csv
import pandas as pd

# Open and read CSV file
with open("/Users/ahmadkhalilghamai/Downloads/fifa_ranking-2024-06-20.csv", newline="") as file:
    reader = csv.reader(file)
    data = list(reader) 


ranking_ag = pd.DataFrame(data[1:], columns=data[0])

print(df.head())

  rank       country_full country_abrv total_points previous_points  \
0  140  Brunei Darussalam          BRU            2               0
1   33           Portugal          POR           38               0
2   32             Zambia          ZAM           38               0
3   31             Greece          GRE           38               0
4   30            Algeria          ALG           39               0

  rank_change confederation  rank_date
0         140           AFC 1992-12-31
1          33          UEFA 1992-12-31
2          32           CAF 1992-12-31
3          31          UEFA 1992-12-31
4          30           CAF 1992-12-31

In [55]:
ranking_ag.head()

,rank,country_full,country_abrv,total_points,previous_points,rank_change,confederation,rank_date
0,140,Brunei Darussalam,BRU,2,0,140,AFC,1992-12-31
1,33,Portugal,POR,38,0,33,UEFA,1992-12-31
2,32,Zambia,ZAM,38,0,32,CAF,1992-12-31
3,31,Greece,GRE,38,0,31,UEFA,1992-12-31
4,30,Algeria,ALG,39,0,30,CAF,1992-12-31

In [57]:

df_filtered = ranking_ag[ranking_ag['rank_date'] == '2024-06-20']
df_sorted = df_filtered.sort_values(by='rank', ascending=True)
print("Sorted DataFrame for 2024-06-20:")
print(df_sorted)

# If you want to store the sorted DataFrame into a new variable
final_df = df_sorted  # This is the sorted DataFrame for 2024-06-20

# Optionally, you can also reset the index if you'd like:
final_df = final_df.reset_index(drop=True)

# Display the final DataFrame
print("\nFinal DataFrame with sorted rankings:")
print(final_df)

Sorted DataFrame for 2024-06-20:
        rank         country_full country_abrv total_points previous_points  \
67393                     Eritrea          ERI       855.56             0.0
67471    1.0            Argentina          ARG      1860.14          1858.0
67327   10.0                Italy          ITA      1724.37          1724.6
67285  100.0             Thailand          THA      1218.56         1208.93
67290  101.0      Kyrgyz Republic          KGZ      1213.58          1213.6
...      ...                  ...          ...          ...             ...
67295   95.0            Palestine          PLE      1231.25         1238.66
67294   96.0              Armenia          ARM      1230.79         1229.18
67293   97.0              Namibia          NAM      1219.83         1192.13
67292   98.0              Belarus          BLR      1219.78         1226.54
67291   99.0  Trinidad and Tobago          TRI      1219.44         1220.65

      rank_change confederation   rank_date
67393           0           CAF  2024-06-20
67471           0      CONMEBOL  2024-06-20
67327           1          UEFA  2024-06-20
67285          -1           AFC  2024-06-20
67290           1           AFC  2024-06-20
...           ...           ...         ...
67295           2           AFC  2024-06-20
67294           1          UEFA  2024-06-20
67293          -9           CAF  2024-06-20
67292           2          UEFA  2024-06-20
67291           1      CONCACAF  2024-06-20

[211 rows x 8 columns]

Final DataFrame with sorted rankings:
      rank         country_full country_abrv total_points previous_points  \
0                       Eritrea          ERI       855.56             0.0
1      1.0            Argentina          ARG      1860.14          1858.0
2     10.0                Italy          ITA      1724.37          1724.6
3    100.0             Thailand          THA      1218.56         1208.93
4    101.0      Kyrgyz Republic          KGZ      1213.58          1213.6
..     ...                  ...          ...          ...             ...
206   95.0            Palestine          PLE      1231.25         1238.66
207   96.0              Armenia          ARM      1230.79         1229.18
208   97.0              Namibia          NAM      1219.83         1192.13
209   98.0              Belarus          BLR      1219.78         1226.54
210   99.0  Trinidad and Tobago          TRI      1219.44         1220.65

    rank_change confederation   rank_date
0             0           CAF  2024-06-20
1             0      CONMEBOL  2024-06-20
2             1          UEFA  2024-06-20
3            -1           AFC  2024-06-20
4             1           AFC  2024-06-20
..          ...           ...         ...
206           2           AFC  2024-06-20
207           1          UEFA  2024-06-20
208          -9           CAF  2024-06-20
209           2          UEFA  2024-06-20
210           1      CONCACAF  2024-06-20

[211 rows x 8 columns]

In [27]:
final_df.head()

,rank,country_full,country_abrv,total_points,previous_points,rank_change,confederation,rank_date
0,,Eritrea,ERI,855.56,0.0,0,CAF,2024-06-20
1,1.0,Argentina,ARG,1860.14,1858.0,0,CONMEBOL,2024-06-20
2,10.0,Italy,ITA,1724.37,1724.6,1,UEFA,2024-06-20
3,100.0,Thailand,THA,1218.56,1208.93,-1,AFC,2024-06-20
4,101.0,Kyrgyz Republic,KGZ,1213.58,1213.6,1,AFC,2024-06-20

In [59]:

latest_rankings = ranking_ag[ranking_ag['rank_date'] == "2024-06-20"]
latest_rankings

,rank,country_full,country_abrv,total_points,previous_points,rank_change,confederation,rank_date
67261,68.0,Jordan,JOR,1374.13,1350.21,-3,AFC,2024-06-20
67262,69.0,United Arab Emirates,UAE,1368.84,1366.45,2,AFC,2024-06-20
67263,70.0,Iceland,ISL,1353.48,1346.82,-2,UEFA,2024-06-20
67264,71.0,North Macedonia,MKD,1348.63,1354.19,2,UEFA,2024-06-20
67265,74.0,Georgia,GEO,1338.91,1333.76,-1,UEFA,2024-06-20
...,...,...,...,...,...,...,...,...
67467,137.0,Kuwait,KUW,1098.42,1085.46,-2,AFC,2024-06-20
67468,136.0,Lithuania,LTU,1100.66,1095.23,-1,UEFA,2024-06-20
67469,135.0,Malaysia,MAS,1107.58,1094.54,-3,AFC,2024-06-20
67470,133.0,Solomon Islands,SOL,1111.02,1111.02,1,OFC,2024-06-20
67471,1.0,Argentina,ARG,1860.14,1858.0,0,CONMEBOL,2024-06-20

In [81]:
#importing our second dataset from Transfermarekt website through webscrappein
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

# Base URL of the Transfermarkt rankings page
url_base = "https://www.transfermarkt.com/statistik/weltrangliste?page="

# Set up headers to mimic a real browser request
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'
}

# List to hold data from all pages
all_data = []

# Loop through pages 1 to 9 (since there are 9 pages in total)
for page in range(1, 10):  # Scraping 9 pages
    print(f"Scraping page {page}...")
    
    # Send a request to the webpage with the custom header
    response = requests.get(url_base + str(page), headers=headers)
    
    # Check if the request was successful
    if response.status_code == 200:
        print(f"Page {page} loaded successfully!")
        
        # Parse the HTML content of the page
        soup = BeautifulSoup(response.content, 'html.parser')
        
        # Find the table containing the rankings (this can be adjusted if the page structure changes)
        table = soup.find('table', {'class': 'items'})  # Look for the table with class "items"
        
        # Extract the rows (data) of the table
        rows = table.find_all('tr')[1:]  # Skip the header row
        
        # Loop through each row and extract the columns
        for row in rows:
            columns = row.find_all('td')
            
            # Extract the relevant data from each column and clean it
            rank = columns[0].text.strip()
            nation = columns[1].find('img')['alt'] if columns[1].find('img') else columns[1].text.strip()
            squad_size = columns[2].text.strip()
            avg_age = columns[3].text.strip()
            total_value = columns[4].text.strip()
            confederation = columns[5].text.strip()
            points = columns[6].text.strip()
            
            # Add the data to the list
            all_data.append([rank, nation, squad_size, avg_age, total_value, confederation, points])
    else:
        print(f"Failed to retrieve page {page}. Status code: {response.status_code}")

# Create a pandas DataFrame from the extracted data with the correct headers
headers = ['Rank', 'Nation', 'Squad Size', 'Avg Age', 'Total Value', 'Confederation', 'Points']
df = pd.DataFrame(all_data, columns=headers)

# Clean the "Rank" column: remove non-numeric characters (if any)
df['Rank'] = df['Rank'].str.extract('(\d+)').astype(int)

# Convert "Points" to numeric (integer)
df['Points'] = pd.to_numeric(df['Points'], errors='coerce', downcast='integer')

# Convert "Avg Age" to float
df['Avg Age'] = pd.to_numeric(df['Avg Age'], errors='coerce')

# Clean "Total Value" column by removing non-numeric characters (€, commas, 'm', 'k', and 'b')
def clean_total_value(value):
    # If the value is '-', replace with NaN
    if value == '-':
        return np.nan
    
    # Remove commas, '€', and strip leading/trailing spaces
    value = value.replace('€', '').replace(',', '').strip()
    
    # Handle 'm' for millions
    if 'm' in value.lower():
        value = value.replace('m', '').strip()
        return float(value) * 1e6  # Convert to millions (multiply by 1,000,000)
    
    # Handle 'b' for billions
    elif 'b' in value.lower():
        value = value.replace('b', '').strip()
        return float(value) * 1e9  # Convert to billions (multiply by 1,000,000,000)
    
    # Handle 'k' for thousands
    elif 'k' in value.lower():
        value = value.replace('k', '').strip()
        return float(value) * 1e3  # Convert to thousands (multiply by 1,000)
    
    # Otherwise, return the value as is (if it's just a plain number)
    return float(value)

# Apply the function to clean the "Total Value" column
df['Total Value'] = df['Total Value'].apply(clean_total_value)

# Convert "Squad Size" to numeric (integer)
df['Squad Size'] = pd.to_numeric(df['Squad Size'], errors='coerce', downcast='integer')

# Convert "Confederation" to object (string), ensuring no unexpected values
df['Confederation'] = df['Confederation'].astype(str)

# Ensure that the correct data types are set
print(f"Data types:\n{df.dtypes}")

# Display the cleaned DataFrame
print("Cleaned DataFrame:")
print(df.head())

# Save the cleaned DataFrame to a CSV file
#df.to_csv('transfermarkt_rankings.csv', index=False)

<>:60: SyntaxWarning: invalid escape sequence '\d'
<>:60: SyntaxWarning: invalid escape sequence '\d'
/var/folders/l4/g8j3y_vx0pq5tl_95dwxp9hr0000gp/T/ipykernel_24068/3587195981.py:60: SyntaxWarning: invalid escape sequence '\d'
  df['Rank'] = df['Rank'].str.extract('(\d+)').astype(int)

Scraping page 1...
Page 1 loaded successfully!
Scraping page 2...
Page 2 loaded successfully!
Scraping page 3...
Page 3 loaded successfully!
Scraping page 4...
Page 4 loaded successfully!
Scraping page 5...
Page 5 loaded successfully!
Scraping page 6...
Page 6 loaded successfully!
Scraping page 7...
Page 7 loaded successfully!
Scraping page 8...
Page 8 loaded successfully!
Scraping page 9...
Page 9 loaded successfully!
Data types:
Rank               int64
Nation            object
Squad Size          int8
Avg Age          float64
Total Value      float64
Confederation     object
Points             int16
dtype: object
Cleaned DataFrame:
   Rank     Nation  Squad Size  Avg Age  Total Value Confederation  Points
0     1  Argentina          25     27.5  716500000.0      CONMEBOL    1867
1     2     France          23     26.8  978000000.0          UEFA    1860
2     3      Spain          24     25.9  890000000.0          UEFA    1853
3     4    England          23     25.3  995000000.0          UEFA    1814
4     5     Brazil          23     27.0  921800000.0      CONMEBOL    1776

In [83]:
df.head()

   Rank     Nation  Squad Size  Avg Age  Total Value Confederation  Points
0     1  Argentina          25     27.5  716500000.0      CONMEBOL    1867
1     2     France          23     26.8  978000000.0          UEFA    1860
2     3      Spain          24     25.9  890000000.0          UEFA    1853
3     4    England          23     25.3  995000000.0          UEFA    1814
4     5     Brazil          23     27.0  921800000.0      CONMEBOL    1776

In [85]:
#remoing the columns that we dont need!
transfer_market_25 = df.drop(columns=['Squad Size', 'Avg Age','Total Value'])

In [87]:
transfer_market_25

     Rank                        Nation Confederation  Points
0       1                     Argentina      CONMEBOL    1867
1       2                        France          UEFA    1860
2       3                         Spain          UEFA    1853
3       4                       England          UEFA    1814
4       5                        Brazil      CONMEBOL    1776
..    ...                           ...           ...     ...
205   206      Turks and Caicos Islands      CONCACAF     804
206   207        British Virgin Islands      CONCACAF     780
207   208  United States Virgin Islands      CONCACAF     780
208   209                      Anguilla      CONCACAF     769
209   210                    San Marino          UEFA     747

[210 rows x 4 columns]

In [89]:
transfer_market_25.nunique()

Rank             210
Nation           210
Confederation      6
Points           193
dtype: int64